# Add the ID_INPUT_JOYSTICK attribute to the device so SDL picks up on it

# 8Bitdo FC30 1P GamePad BlueTooth mode(START) mode(START+R)
SUBSYSTEM=="input", ATTRS{name}=="8Bitdo FC30 GamePad", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1"

# 8Bitdo FC30 2P GamePad BlueTooth mode(START)
SUBSYSTEM=="input", ATTRS{name}=="8Bitdo FC30 II", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1" 

# 8Bitdo FC30 2P GamePad BlueTooth mode(START+R)
SUBSYSTEM=="input", ATTRS{name}=="8Bitdo FC30 II Joystick", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1"

# 8Bitdo SFC30 GamePad BlueTooth mode(START)
SUBSYSTEM=="input", ATTRS{name}=="8Bitdo SFC30 GamePad", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1"

# 8Bitdo SFC30 GamePad BlueTooth mode(START+R)
SUBSYSTEM=="input", ATTRS{name}=="8Bitdo SFC30 GamePad Joystick", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1"

# 8Bitdo NES30 GamePad BlueTooth mode(START)
SUBSYSTEM=="input", ATTRS{name}=="8Bitdo NES30 GamePad", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1"

# 8Bitdo NES30 GamePad BlueTooth mode(START+R)
SUBSYSTEM=="input", ATTRS{name}=="8Bitdo NES30 GamePad Joystick", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1"

# 8Bitdo SNES30 GamePad BlueTooth mode(START)
SUBSYSTEM=="input", ATTRS{name}=="8Bitdo SNES30 GamePad", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1"

# 8Bitdo SNES30 GamePad BlueTooth mode(START+R)
SUBSYSTEM=="input", ATTRS{name}=="8Bitdo SNES30 GamePad Joystick", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1"

# 8Bitdo FC30 Pro GamePad BlueTooth mode(POWER) mode(POWER+R1)
SUBSYSTEM=="input", ATTRS{name}=="8Bitdo FC30 Pro", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1"

# 8Bitdo NES30 Pro GamePad BlueTooth mode(POWER)
SUBSYSTEM=="input", ATTRS{name}=="8Bitdo NES30 Pro", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1"

# 8Bitdo NES30 Pro GamePad BlueTooth mode(POWER+R1)
SUBSYSTEM=="input", ATTRS{name}=="8Bitdo NES30 Pro Joystick", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1"

# 8Bitdo FC30 Arcade Joystick BlueTooth mode(HOME)
SUBSYSTEM=="input", ATTRS{name}=="8Bitdo Joy", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1"
