[Desktop Entry]
Type=Application
Version=1.0
Name=Elma 2
GenericName=Motocross game
GenericName[de]=Motocross-Spiel
GenericName[fr_FR]=Jeu de moto
Icon=elma2
Exec=/usr/share/games/elma2/elma2
Categories=Game;SportsGame;ArcadeGame;
