# For current user, save to "~/.local/share/applications/airtame.desktop". 
# For system wide, save to "/usr/share/applications/airtame.desktop". 

[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=AIRTAME
Type=Application
GenericName=AIRTAME
Comment=Meeting Room Wireless Streaming Solution
Icon=/usr/share/airtame/app/views/assets/installer/icon.png
Exec=/usr/share/airtame/launch-airtame.sh
Terminal=false
StartupNotify=false
Categories=AudioVideo;
