[Desktop Entry]
Type=Application
Name=Feed The Beast
GenericName=Game
Comment=Minecraft mods launcher
Exec=java -jar /usr/share/minecraft/FTB_Launcher.jar
Icon=minecraft
Categories=Game
StartupNotify=true
StartupWMClass=net-minecraft-bootstrap-Bootstrap

